body {
    background-image: url(../images/map.jpg);
    background-repeat: no-repeat;
    background-color: black;
    background-attachment: fixed;
    background-position: center;
}

h1 {
    font-family: "Tangerine", cursive;
    font-size: 72px;
    text-align: center;
    background-color: black;
    color: #B39B5B;
}

h2 {
    font-family: "Tangerine", cursive;
    font-size: 48px;
    text-align: center;
    background-color: black;
    color: #B39B5B;
}

p {
    font-family: "Tangerine", cursive;
    font-size: 36px;
    background-color: black;
}

img {
    border: 2px solid #B39B5B;
}

.jumbotron {
    background-color: black;
    color: #B39B5B;
    font-family: "Tangerine", cursive;
    height: auto;
    text-align: center;
}

.card {
    background-color: black;
    border: #B39B5B 2px solid;
}

.col-sm-6 {
    border: #B39B5B solid 2px;
    height: 600px;
}

.col-sm-4 {
    border: #B39B5B solid 2px;
    font-family: "Tangerine", cursive;
    font-size: 36px;
    color: #B39B5B;
    text-align: center;
}

.display-4 {
    font-family: "Tangerine", cursive;
    font-size: 72px;
    text-align: center;
    background-color: black;
    color: #B39B5B;
}

#container3 {
    background-color: black;
    height: 800px;
    border: #B39B5B 2px solid;
}

#attackbtn {
    font-family: "Tangerine", cursive;
    color: #B39B5B;
    border: #B39B5B solid 1px;
    font-size: 36px;
}

#resetbtn {
    font-family: "Tangerine", cursive;
    color: #B39B5B;
    border: #B39B5B solid 1px;
    font-size: 36px;
}

#aragorn {
    margin-left: 160px;
    position: relative;
}

#eowyn {
    margin-left: 150px;
}
