body {
    background-color: black;
}

.background {
    background-color: black;
    border: 2px solid black;
}

.jumbotron {
    background-color: black;
    text-align: center;
    font-family: 'Cinzel', serif;
    color: #B00528;
    height: 100px;
}

h2 {
    font-family: "Cinzel", serif;
    color: #F0A03B;
    font-size: 36px;
}

p {
    font-family: "Aladin", serif;
    color: white;
    font-size: 24px;
}

#r12 {
    text-align: center;
    font-family: "Cinzel", serif;
    color: #7811CE;
    font-size: 24px;
}

#r13 {
    text-align: center;
    font-family: "Cinzel", serif;
    color: #FEFD87;
    font-size: 24px;
}

.col-md-12 {
    text-align: left;
    font-family: "Cinzel", serif;
}

.col-md-6 {
    text-align: center;
    font-family: "Cinzel", serif;
    color: #F98DF6;
    font-size: 24px;
}

.col-md-3 {
    text-align: center;
    font-family: "Cinzel", serif;
    color: white;
}

.card {
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid black;
    background-color: black;
}